
@{
    ViewBag.Title = "UserProfileMember";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>
    

    <img src="@Url.Action("UserPhotos", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
</h1>
