@using GridMvc.Html
@{
    ViewBag.Title = "GetRoles";
 Layout = "~/Views/Shared/Custom/AdminDash1.cshtml";
}

<h2>GetRoles</h2>
<script src="~/Scripts/gridmvc.js"></script>
@Html.Grid(Model).Columns(columns =>

{

columns.Add(c => c.RoleId).Titled("Role ID");

columns.Add(c => c.RoleName).Titled("RoleName").Filterable(true);

}).WithPaging(10).Sortable(true)

